:root {
    --background: #448AFF;
    --light-background: rgba(68, 138, 255, 0.2);
    --text-primary: white;
    --text-secondary: black;
    --secondary: red;
}

div {
    box-sizing: border-box;
}

.MuiBadge-badge {
    background: white;
    top: 5px;
    right: 2px;
    color: var(--background);
}

html, body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.clickable:hover {
    cursor: pointer;
    background: var(--light-background);
}

.selectedToolbarMenuItem, .selectedToolbarMenuItem:hover {
    color: white;
    background-color: var(--background);
}

.MuiAutocomplete-tag {
    max-width: 27% !important;
    cursor: default;
}

.MuiFormControlLabel-root {
    margin: 0;
}

.MuiToolbar-regular {
    padding: 0 !important;
}

.MuiAccordion-root {
    box-shadow: 0 2px 1px -1px rgba(68, 138, 255, 0.2), 0 1px 1px 0 rgba(68, 138, 255, 0.14), 0 1px 3px 0 rgba(68, 138, 255, 0.12);
}

.MuiPaper-root::before {
    background-color: rgba(68, 138, 255, 0.2);
}

.cursor-pointer {
    cursor: pointer;
}
