:root {
    --background: #448AFF;
    --light-background: rgba(68, 138, 255, 0.2);
    --text-primary: white;
    --text-secondary: black;
}

div {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    background: var(--background);
}

.active-nav-link {
    background: var(--background);
    color: var(--text-primary);
}

ul.MuiList-root {
    padding: 0;
}

.clickable:hover {
    cursor: pointer;
    background: var(--light-background);
}
