:root {
    --background: #448AFF;
    --light-background: rgba(68, 138, 255, 0.2);
    --text-primary: white;
    --text-secondary: black;
    --secondary: red;
}

div {
    box-sizing: border-box;
}

.MuiBadge-badge {
    border: 1px solid white;
    top: 2px;
    right: 2px;
    background: var(--background);
}

html, body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    background: var(--background);
}

.active-nav-link {
    background: var(--background);
    color: var(--text-primary);
}

ul.MuiList-root {
    padding: 0;
}

.clickable:hover {
    cursor: pointer;
    background: var(--light-background);
}

.selectedToolbarMenuItem, .selectedToolbarMenuItem:hover {
    background-color: white;
    color: var(--background);
}
